/* Begin : Global Part */

    body {
        margin: 0;
        padding: 0;
    }

    .global-ul {
        padding: 0;
        margin: 0;
    }

    .global-list {
        list-style: none;
        display: inline-block;
    }

    .global-remove-text-decoration {
        text-decoration: none;
    }

/* End : Global Part */


/* Begin : Header Part */

    header {
        background-color: #06273a;
        color: #ffffff;
        padding: 1em;
    }

    .navbar {
        width: 85vw;
        margin: 0 auto;
    }

    .nav-brand {
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-size: 1.2em;
    }

    .nav-container a{
        color: #ffffff;
    }

    .nav-container {
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1em;
    }

    .nav-telephone {
        margin-right: 0.5em;
    }

    .nav-telephone-icon {
        margin-right: 5px;
    }

    .nav-tab {
        margin: 0 1em;
    }

    .nav-social {
        margin-left: 0.5em;
    }

    .social-ul {
        text-align: end;
    }

    .social-item {
        margin: 0 0.3em;
    }

    .header-icon {
        font-size: 1.25em;
    }

    .nav-item {
        text-align: center;
        margin: 0 0.7em;
    }

    @media screen and (max-width: 836px) {
        .nav-telephone, .nav-social {
            display: none;
        }
        .nav-container {
            justify-content: center;
        }
    }

    @media screen and (max-width: 576px) {
        .nav-ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

/* End : Header Part */


/* Begin : Main Part */

    /* Begin : PROFILE Section */

        .profile-flex {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .profile-left {
            width: 50%;
            border: 1px solid #000;
            background-color: #e6dace;
            padding: 2em;
        }

        .profile-card {
            width: 20em;
            text-align: center;
            box-shadow: -5px 5px 10px #bbb;
            background-color: #f4ece6;
            margin: 0 auto;
        }

        .profile-right {
            border: 1px solid #000;
        }

        /* Begin: profile-card */

            .profile-pic {
                display: inline-block;
                background-color: #aaa;
                border-radius: 50%;
                width: 7em;
                height: 7em;
                margin: 1em 0 0.5em 0;
            }

            .card-name, .card-post {
                display: block;
            }

            .card-name {
                font-size: 1.5em;
                font-weight: 900;
                margin: 0.5em 0;
            }

            .card-post {
                font-size: 1.1em;
                margin: 2em 0;
                opacity: 0.8;
            }

            .card-line {
                background-color: #00f;
                width: 4.8em;
                height: 1.5px;
            }

            .profile-footer {
                background-color: #fff;
                padding: 0.6em 0;
            }

            .profile-footer-item {
                margin: 0 0.2em;
            }

            .profile-card-footer-icon{
                color: #353535;
                font-size: 2em;
            }

        /* End: profile-card */

        /* Begin: profile-right */

            .profile-intro-container {
                padding: 2.5em 1em;
            }

            .profile-title {
                font-size: 4em;
                font-weight: 900;
            }

            .profile-subtitle {
                font-size: 2em;
                font-weight: 500;
            }

            .profile-paragraph {
                text-align: justify;
            }

            .profile-btn {
                margin-top: 2em;
            }

            .resume-btn {
                background-color: #00f;
                color: #fff;
                border: 0;
                height: 2.2em;
                width: 10em;
                border-radius: 1.2em;
            }

            .git-btn {
                background-color: #fff;
                color: #000;
                border: 1.3px solid #000;
                height: 2.2em;
                width: 10em;
                border-radius: 1.2em;
                font-weight: 800;
            }

        /* End: profile-right */

        @media screen and (max-width: 958px) {
            .profile-flex {
                flex-wrap: wrap;
            }
            .profile-left {
                width: 100vw;
            }
            .profile-card {
                margin: 0 auto;
            }
            .profile-intro-container {
                text-align: center;
            }
            .profile-btn {
                margin-top: 2em;
            }
            .resume-btn, .git-btn {
                margin: 0 0.5em;
            }
        }

        @media screen and (max-width: 405px) {
            .profile-left {
                padding: 0;
            }
        }

        @media screen and (max-width: 332px) {
            .profile-card {
                width: 80vw;
            }
            .resume-btn {
                margin-left: 0;
            }
            .git-btn {
                margin-right: 0;
            }
        }

        @media screen and (max-width: 317px) {
            .resume-btn, .git-btn {
                margin: 1em 0;
            }
        }

    /* End : PROFILE Section */


    /* Begin - RESUME Section */

        .resume {
            background-color: #dbdbdb;
        }

        .resume-header {
            font-size: 2em;
            text-align: center  ;
            font-weight: 900;
            padding: 1em 0 2em 0;
        }

        .resume-horizontal-line {
            width: 85vw;
            height: 1px;
            background-color: #000;
        }

        /* Begin : Skill-Section Div */

            .skill-section {
                padding: 2.5em 0;
            }

            .skill-type {
                margin-top: 1em;
                font-size: 1.8em;
                font-weight: 600;
            }

            .skill-flex {
                width: 85vw;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .skill-set {
                padding: 0 2em 2em 2em;
            }

            .skill-personal, .skill-technical {
                width: 45%;
                background-color: #fff;
                text-align: center;
                border-radius: 15px;
                box-shadow: 0 2.5px 5px #999;
            }

            .skill-vertical-line {
                background-color: rgba(100, 149, 237, 1);
                border-radius: 1em;
                margin: 1.9em 0;
                width: 5px;
            }

            .skill-textholder {
                background-color: rgba(99, 120, 158, 0.5);
                box-shadow: inset 0 2.5px 5px #aaa;
                border-radius: 2px;
                padding: 0.2em 0.5em ;
                font-size: 1.5em;
            }

            .skill-meter {
                width: 100%;
                margin: 1em 0;
            }

            .skill-meter:last-child {
                margin-bottom: 0;
            }

            .skill-name {
                float: left;
            }

            .skill-progress {
                float: right;
            }


            @media screen and (max-width: 1100px) {
                .skill-flex {
                    justify-content: space-between;
                }
                .skill-personal, .skill-technical {
                    width: 45%;
                }
                .skill-textholder {
                    padding: 0.2em 0.5em ;
                    font-size: 1.3em;
                }
                
            }

            @media screen and (max-width: 768px) {
                .skill-flex {
                    flex-direction: column;
                    justify-content: space-between;
                }
                .skill-personal, .skill-technical {
                    width: 100%;
                }
                .skill-vertical-line {
                    margin: 1.5em auto;
                    width: 70%;
                    height: 5px;
                }
            }

        /* End : Skill-Section Div */

        /* Begin : Interest-Section Div */

            .interest-section {
                padding-bottom: 2.5em;
            }

            .interest-body {
                width: 85vw;
                margin: 0 auto;
                padding: 2em 0;
                text-align: center;
                background-color: #fff;
                /* border-radius: 15px; */
                box-shadow: 0 2.5px 5px #999;
            }

            .interest-content {
                padding: 0 2em 1em 2em;
            }

            .interest-quote {
                font-weight: 700;
            }

            .interest-icon-holder {
                padding: 0 2em;
            }

            .interest-ul {
                display: grid;
                margin: 0 auto;
                grid-template-rows: repeat(1, 2.5em);
                grid-template-columns: repeat(6, 2.5em);
                row-gap: 1em;
                column-gap: 1em;
                justify-content: center;
                place-items:center;
            }

            .interest-icon {
                background-color: #dbdbdb;
                box-shadow: inset 0 0 5px #aaa;
                font-size: 1.5em;
                padding: 10px;
            }

            @media screen and (max-width: 666px) {
                .interest-body {
                    text-align: justify;
                }
            }

            @media screen and (max-width: 462px) {
                .interest-ul {
                    grid-template-rows: repeat(2, 2.5em);
                    grid-template-columns: repeat(3, 2.5em);
                    justify-content: space-evenly;
                }
                .interest-body {
                    text-align: justify;
                }
            }

            @media screen and (min-width: 768px) {
                .interest-ul{
                    column-gap: 5%;
                }
            }

        /* End : Interest-Section Div */


        /* Begin : Education-Section Div */

            .education-section {
                padding-bottom: 5em;
            }

            .education-body {
                width: 85vw;
                margin: 0 auto;
            }

            .education-card {
                background-color: #fff;
                border-radius: 15px;
                box-shadow: 0 2.5px 5px #999;
            }

            .education-duration {
                display: inline-block;
                margin: 1em 1em;
                padding: 0.1em 0.5em;
                background-color: rgba(99, 120, 158, 0.69);
                box-shadow: inset 0 2.5px 5px #aaa;
                border-radius: 2.5px;
            }

            .education-stream {
                margin: 0 1em;
                display: block;
                font-weight: 600;
            }

            .education-name {
                margin: 1em 1em;
                display: block;
            }

            .education-vertical-line {
                background-color: cornflowerblue;
                border-radius: 1em;
                height: 18em;
                width: 5px;
            }

            .education-grid {
                display: grid;
                grid-template-columns: auto 6% auto;
                grid-gap: 20px;
                align-items: center;
            }

            .education-grid-item-1 {
                width: 70%;
                justify-self: right;
                text-align: right;
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }
            .education-grid-item-2 {
                grid-row: 1 / 4;
                grid-column: 2 / 3;
            }
            .education-grid-item-3 {
                width: 70%;
                justify-self: left;
                grid-row: 2 / 3;
                grid-column: 3 / 4;
            }
            .education-grid-item-4 {
                display: none;
            }
            .education-grid-item-5 {
                width: 70%;
                justify-self: right;
                text-align: right;
                grid-row: 3 / 4;
                grid-column: 1 / 2;
            }

            @media screen and (max-width: 681px) {
                .education-card {
                    /* width: 100%; */
                    text-align: center;
                }
                .education-vertical-line {
                    height: 5px;
                    width: 100%;
                }
                .education-grid {
                    grid-template-columns: 1fr 1fr 1fr;
                    place-items: center;
                }
                .education-grid-item-1 {
                    grid-row: 1 / 2;
                    grid-column: 1 / 4;
                }
                .education-grid-item-2 {
                    width: 70%;
                    grid-row: 2 / 3;
                    grid-column: 1 / 4;
                }
                .education-grid-item-3 {
                    grid-row: 3 / 4;
                    grid-column: 1 / 4;
                }
                .education-grid-item-4 {
                    display: inherit;
                    width: 70%;
                    grid-row: 4 / 5;
                    grid-column: 1 / 4;
                }
                .education-grid-item-5 {
                    grid-row: 5 / 6;
                    grid-column: 1 / 4;
                }
            }

            @media screen and (max-width: 1200px) {
                .education-grid-item-1 {
                    width: 100%;
                }
                .education-grid-item-3 {
                    width: 100%;
                }
                .education-grid-item-5 {
                    width: 100%;
                }
            }

        /* End : Education-Section Div */

    /* End - RESUME Section */

/* End : Main Part */

/* Begin : Footer Part */

footer {
    background-color: #06273a;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}

.footer {
    width: 85vw;
    margin: 0 auto;
}

.footer-social, .footer-subscribe {
    padding: 1em 0;
}

.footer-social, .footer-subscribe {
    min-width: 300px;
    width: 45%;
}

.footer-contact-address {
    line-height: 2em;
}

.footer-contact-information {
    line-height: 2em;
}

.footer-social-item {
    margin: 10px;
}

.footer-contact-title, .footer-social-title, .footer-subscribe-title {
    font-weight: 500;
    font-size: 1.2em;
}

.footer-sitemap {
    padding: 3em 0;
    margin-bottom: 1em;
}

.footer-sitemap-item {
    margin: 0 1em;
}

.footer-contact-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5em 0;
}

.footer-git-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.5em 0;
}

.footer-vertical-line {
    display: inline;
}

.footer-icon {
    font-size: 2em;
    color: #ddd;
}

.footer-iframe-map {
    width: 300px;
    height: 200px;
}

.footer-copyright-para {
    margin: 0;
    padding-bottom: 0.5em;
}

.footer-subscribe-holder {
    height: 32px;
    padding-top: 10px;
}

.footer-email-input {
    padding: 5px;
}

.footer-submit-btn {
    padding: 5px;
}


@media screen and (max-width: 960px) {
    .footer-contact-map, .footer-contact-address {
        display: none;
    }
    .footer-contact-flex-item {
        flex-grow: 1;
    }
}

@media screen and (max-width: 1166px) {
    .footer-git-flex-item {
        flex-grow: 1;
    }
    .footer-social, .footer-subscribe {
        min-width: 0;
        width: 80%;
    }
    .footer-iframe-map {
        width: 80%;
    }
}

@media screen and (max-width: 784px) {
    .footer-contact {
        padding-top: 1.5em;
    }
    .footer-sitemap {
        padding: 2em 0;
        display: none;
    }
    .footer-vertical-line {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer-email-input {
        padding-right: 50px;
    }
    .footer-submit-btn {
        padding: 5px 15px;
    }
}

/* End : Footer Part */